# directories
02-scripts/__pycache__/
03-data/

# files
04-processed/calibrator-2023-02-22.hdf5
04-processed/2023-02-23-all.hdf5
04-processed/q.npy

# notes
# ignores all .md files
# .md

# does not ignore the README.md file
# !README.md